{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/css/contact.css') }}" type="text/css">
{% endblock %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="headerCave carousel-inner">
  <img class="d-block w-100 " src="asset/img/contact.jpg" alt="Cave a Vin">
  <div class="overlay"></div>
  <div class="titrePage">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3 title_header">Contactez-nous</h1>
      </div>
    </div>
  </div>
</div>
</div>
</header>
<body>


<main>

<div class="mainChild">

<div class="overlayResa">

    <section>

<!--
        <form action="" id="resaForm">

          <p>Les champs marqués d'un <abbr title="(obligatoire)" aria-hidden="true">*</abbr> sont obligatoires.</p>

<div class="globalInputsCont">

<div id="leftInputsContainer">
                
    <label for"name">Nom</label><abbr title="(obligatoire)">*</abbr>   
                                           
    <input class="form-resa" type="text" id="name" name="nom" placeholder="Nom" required>                                   

    <label for"name">Prenom</label><abbr title="(obligatoire)">*</abbr>   
                                           
    <input class="form-resa" type="text" id="name" name="prenom" placeholder="Prenom" required>                                   

</div>

<div id="rightInputsContainer">  

    <label for"email">Email</label>
                    
        <input class="form-resa" type="email" name="email" id="email" placeholder="email">  

        <label for"tel">Téléphone</label>
            <abbr title="(obligatoire)">*</abbr> 
                                             
        <input class="form-resa" type="tel" id="tel" name="tel" placeholder="N° de téléphone" required>                         
</div>                         
                        
                    </div>  

                    <label for"message">Message</label>
                        
                    <textarea class="form-resa" id="message" name="message"
                        placeholder="Message"></textarea> 

                         <input type="submit" name="submit" id="submit" value="Envoyer" class="btn">               

        </form>
-->        
{{ form_start(form1, {'attr': {'id': 'resaForm'}}) }}
          <p>Les champs marqués d'un <abbr title="(obligatoire)" aria-hidden="true">*</abbr> sont obligatoires.</p>

<div class="globalInputsCont">

    <div id="leftInputsContainer">
                    
        <label for"name">Nom</label><abbr title="(obligatoire)">*</abbr>   
                                            
        <!--<input class="form-resa" type="text" id="name" name="nom" placeholder="Nom" required>-->                                   
        {{ form_widget(form1.nom, {'attr': {'class': 'form-resa', 'placeholder': 'Nom'}}) }}
        <label for"name">Prenom</label><abbr title="(obligatoire)">*</abbr>   
                                            
        <!--<input class="form-resa" type="text" id="name" name="prenom" placeholder="Prenom" required>-->                                   
        {{ form_widget(form1.prenom, {'attr': {'class': 'form-resa', 'placeholder': 'Prenom'}}) }}

    </div>

    <div id="rightInputsContainer">  

        <label for"email">Email</label>                    
        <!--<input class="form-resa" type="email" name="email" id="email" placeholder="email">-->  
        {{ form_widget(form1.email, {'attr': {'class': 'form-resa', 'placeholder': 'Email'}}) }}

        <label for"tel">Téléphone</label>
        <abbr title="(obligatoire)">*</abbr>                                          
        <!--<input class="form-resa" type="tel" id="tel" name="tel" placeholder="N° de téléphone" required>-->                         
        {{ form_widget(form1.tel, {'attr': {'class': 'form-resa', 'placeholder': 'N° de téléphone'}}) }}
    </div>                         
</div>                         
                        

    <label for"message">Message</label>
    <!--<textarea class="form-resa" id="message" name="message" placeholder="Message"></textarea>--> 
    {{ form_widget(form1.message, {'attr': {'class': 'form-resa', 'placeholder': 'Message'}}) }}

    <input type="submit" name="submit" id="submit" value="Envoyer" class="btn">               
{{ form_end(form1) }}
<!--

-->          
            
        </section>

</div>

</div>

    </main>




<div class="iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.023030651155!2d5.369939615486046!3d43.29283937913526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9c0c776228c51%3A0x7e6a39baa40aceae!2s21+Place+aux+Huiles%2C+13001+Marseille!5e0!3m2!1sfr!2sfr!4v1560414265270!5m2!1sfr!2sfr" allowfullscreen></iframe>
</div>
</body>
{% endblock %}