<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>


        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
       <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('asset/css/index.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/driss.css') }}">

        <link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/7830cdc0d6.js"></script>
        <script src="{{ asset('asset/js/header.js') }}"></script>
        <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <header>

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent mt-3">
                <div class="container">
                    <button  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button" onclick="hideTitle()">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav mx-auto snip1189"></li>
                        <li class="nav-item">
                            <a href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('carte') }}">Carte</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('cave') }}">Cave</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('galerie') }}">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('reservation') }}">Réservation</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}


        {% block footer %}
        </body>
    </html>

    <!-- Footer -->
    <footer class="page-footer font-small indigo" id="footer">

        <!-- Grid row-->

        <!-- Grid row-->
        <hr class="barreSeparation"> <!-- Grid row-->
        <div
            class="row d-flex text-center justify-content-center">


            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-3">
                <p style="line-height: 1.7rem"></p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->
        <hr class="barreSeparation">
        <p class="text_newsletter">Inscrivez vous à la newsletter</p>
        {{ include('newsletter/_form.html.twig') }}

        <!-- Grid row-->
        <div
            class="row pb-3">

            <!-- Grid column -->
            {# <div class="col-md-12">

                <div
                    class="mb-5 flex-center icon">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-4"></i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-4"></i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-4"></i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-4"></i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-4"></i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text"></i>
                    </a>

                </div>

            </div> #}
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <div class="col-md-8 col-12 mt-3">
                <p><a href="{{ path('menu_index') }}">Administration</a></p>
            </div>
    <!-- Footer Links -->
</footer><!-- Footer --><!-- Optional JavaScript --><!-- jQuery first, then Popper.js, then Bootstrap JS --><script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><!--Charger le plugin Fancybox--><script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% block scriptThisPage %}
{% endblock %}

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
{% endblock %}
