<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('asset/css/index.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/font-awesome.min.css') }}">
	    <link rel="stylesheet" href="{{ asset('asset/css/flaticon.css') }}">
	    <link rel="stylesheet" href="{{ asset('asset/css/animate.css') }}">
	    <link rel="stylesheet" href="{{ asset('asset/css/owl.carousel.css') }}">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
                    <li><a href="{{ path('accueil') }}">accueil</a></li>
     	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section start -->
	<header class="header-section sp-pad">
		<h3 class="site-logo">HALO</h3>
		<form class="search-top">
			<button class="se-btn"><i class="fa fa-search"></i></button>
			<input type="text" placeholder="Search.....">
		</form>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<nav class="main-menu">
			<ul>
				<li><a href="{{ path('accueil') }}">accueil</a></li>
				<li><a href="about.html">about us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<!-- Header section end -->


	<!-- Hero section start -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg sp-pad" data-setbg="/asset/img/carousel/carousel1.jpg">
				<div class="hs-text">
					<h2 class="hs-title">Halo</h2>
					<p class="hs-des">We Create Awesome <br>Photographies and more</p>
				</div>
			</div>
			<div class="hs-item set-bg sp-pad" data-setbg="{{ asset('asset/img/carousel/carousel2.jpg') }}">
				<div class="hs-text">
					<h2 class="hs-title">Halo</h2>
					<p class="hs-des">We Create Awesome <br>Photographies and more</p>
				</div>
			</div>
			<div class="hs-item set-bg sp-pad" data-setbg="{{ asset('asset/img/carousel/carousel3.jpg') }}">
				<div class="hs-text">
					<h2 class="hs-title">Halo</h2>
					<p class="hs-des">We Create Awesome <br>Photographies and more</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
  <!-- /end Carousel 100% Fullscreen -->

  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>  
<![endif]-->
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
