{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" media="screen and (max-width: 991px)" href="{{ asset('asset/css/reservations-medium.css') }}" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 992px)" href="{{ asset('asset/css/reservations-large.css') }}" type="text/css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="{{ asset('asset/css/reservations-small.css') }}" type="text/css">
{% endblock %}

{% block title %}Réservations
{% endblock %}

{% block h2 %}TEST{% endblock %}

{% block body %}
    <div class="headerCave carousel-inner">
        <img class="d-block w-100" src="asset/img/reservation.jpg">
        <div class="overlay"></div>
        <div class="titrePage" id="title_header">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3 title_header">Réservation</h1>
                </div>
            </div>
        </div>
    </div>
</div></header><main>

<div class="mainChild">

    <div class="linearG">

        <div class="overlayResa">
            <div class="overlaySnd">


                <section>

                    {{ form_start(formResa, {'attr': {'id': 'resaForm'}}) }}

                    <p>
                        <span>Les champs marqués d'un</span>
                        <abbr aria-hidden="true" id="abbrTitle" title="(obligatoire)">*</abbr>
                        <span>obligatoires.</span>
                    </p>

                    <div class="globalInputsCont">

                        <div id="leftInputsContainer">

                            <label for"name">Nom</label>
                            <abbr title="(obligatoire)">*</abbr>


                            {{ form_widget(formResa.nom, {'attr': {'id':'resa_nom', 'class': 'form-resa', 'placeholder': 'Nom*'}}) }}


                            <label for"tel">Téléphone</label>
                            <abbr title="(obligatoire)">*</abbr>

                            {{ form_widget(formResa.tel, {'attr': {'id':'resa_tel','class': 'form-resa', 'placeholder': 'Telephone'}}) }}


                            {{ form_widget(formResa.heure, {'attr': {'id':'resa_heure','class': 'form-resa', 'placeholder': 'Heures*'}}) }}

                            {# <select class="form-resa" id="heureRepas" required>
                                                                                        <option disabled selected>Heure *</option>
                                                                                        <optgroup label="Déjeuner">
                                                                                            <option class="slctMidi" id="12h00" value="12h00">12h00</option>
                                                                                            <option class="slctMidi" id="12h15" value="12h15">12h15</option>
                                                                                            <option class="slctMidi" id="12h30" value="12h30">12h30</option>
                                                                                            <option class="slctMidi" id="12h45" value="12h45">12h45</option>
                                                                                            <option class="slctMidi" id="13h00" value="13h00">13h00</option>
                                                                                            <option class="slctMidi" id="13h15" value="13h15">13h15</option>
                                                                                            <option class="slctMidi" id="13h30" value="13h30">13h30</option>
                                                                                            <option class="slctMidi" id="13h45" value="13h45">13h45</option>
                                                                                            <option class="slctMidi" id="14h00" value="14h00">14h00</option>
                                                                                            <option class="slctMidi" id="14h15" value="14h15">14h15</option>
                                                                                            <option class="slctMidi" id="14h30" value="14h30">14h30</option>
                                                                                        </optgroup>
                                                                                        <optgroup id="diner" label="Dîner">
                                                                                            <option class="slctMidi" id="20h00" value="20h00">20h00</option>
                                                                                            <option class="slctMidi" id="20h15" value="20h15">20h15</option>
                                                                                            <option class="slctMidi" id="20h30" value="20h30">20h30</option>
                                                                                            <option class="slctMidi" id="20h45" value="20h45">20h45</option>
                                                                                            <option class="slctMidi" id="21h00" value="21h00">21h00</option>
                                                                                            <option class="slctMidi" id="21h15" value="21h15">21h15</option>
                                                                                            <option class="slctMidi" id="21h30" value="21h30">21h30</option>
                                                                                            <option class="slctMidi" id="21h45" value="21h45">21h45</option>
                                                                                            <option class="slctMidi" id="22h00" value="22h00">22h00</option>
                                                                                            <option class="slctMidi" id="22h15" value="22h15">22h15</option>
                                                                                            <option class="slctMidi" id="22h30" value="22h30">22h30</option>
                                                                                            <option class="slctMidi" id="22h45" value="22h45">22h45</option>
                                                                                            <option class="slctMidi" id="23h00" value="23h00">23h00</option>
                                                                                        </optgroup>
                                                                                    </select> #}

                        </div>

                        <div class="hidden" id="calendar">

                            <div class="carousel slide" data-interval="false" data-ride="false" id="carouselResaControls">
                                <div class="carousel-inner">

                                    <div class="topControls">
                                        <a class="carousel-control-prev" data-slide="prev" href="#carouselResaControls" role="button">
                                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>

                                        <div class="calHeadSlider">

                                            <h3></h3>

                                        </div>


                                        <a class="carousel-control-next" data-slide="next" href="#carouselResaControls" role="button">
                                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                                            <span class="sr-only">Next</span>
                                        </a>

                                    </div>

                                    <div class="daysHeader">

                                        <ul>
                                            <li>Lun.</li>
                                            <li>Mar.</li>
                                            <li>Mer.</li>
                                            <li>Jeu.</li>
                                            <li>Ven.</li>
                                            <li>Sam.</li>
                                            <li>Dim.</li>
                                        </ul>

                                    </div>

                                    <div class="carousel-item active currentMonthActive" id="currentMonth"></div>

                                    <div class="carousel-item hidden" id="nextMonth"></div>

                                </div>

                            </div>

                        </div>

                        <div id="rightInputsContainer">

                            <label for"email">Email</label>

                            {{ form_widget(formResa.email, {'attr': {'id':'resa_email','class': 'form-resa', 'placeholder': 'Email*'}}) }}
                            {# <input class="form-resa" id="email" name="email" placeholder="Adresse email" type="email"> #}

                            {{ form_widget(formResa.date, {'id':'date','attr': {'class': 'form-resa', 'placeholder': 'Date*'}}) }}
                            {# <input class="form-resa" id="date" name="date" placeholder="Date *" required type="texte"> #}

                            {{ form_widget(formResa.nbclient, {'id':'resa_nbclient','attr': {'class': 'form-resa', 'placeholder': 'Nombres de Couverts*'}}) }}
                            {# <select class="form-resa" id="eatersSelect" required>
                                                                                        <option disabled selected>Nombre de couverts *</option>
                                                                                        <option class="slctMidi" value="1">1</option>
                                                                                        <option class="slctMidi" value="2">2</option>
                                                                                        <option class="slctMidi" value="3">3</option>
                                                                                        <option class="slctMidi" value="4">4</option>
                                                                                        <option class="slctMidi" value="5">5</option>
                                                                                        <option class="slctMidi" value="6">6</option>
                                                                                        <option class="slctMidi" value="7">7</option>
                                                                                        <option class="slctMidi" value="8">8</option>
                                                                                        <option class="slctMidi" value="9">9</option>
                                                                                        <option class="slctMidi" value="10">10</option>
                                                                                        <option class="slctMidi" value="11">11</option>
                                                                                        <option class="slctMidi" value="12">12</option>
                                                                                        <option class="slctMidi" value="13">13</option>
                                                                                        <option class="slctMidi" value="14">14</option>
                                                                                        <option class="slctMidi" value="15">15</option>
                                                                                    </select> #}

                        </div>
                    </div>

                    <label for"remarques">Remarques</label>

                    {{ form_widget(formResa.message, {'attr': {'class': 'form-resa', 'placeholder': 'Votre Message'}}) }}
                    {# <textarea class="form-resa" id="remarques" name="remarques" placeholder="Demandes particulières"></textarea> #}

                    <input class="btn" id="submit" name="submit" type="submit" value="RÉSERVER UNE TABLE">

                    {{ form_end(formResa) }}

                    <div id="recapResa hidden">

                        <a href="#" id="dateRecap">
                            <i class="far fa-calendar-alt hidden"></i>
                        </a>
                        <a href="#" id="heureRecap">
                            <i class="far fa-clock hidden"></i>
                        </a>
                        <a href="#" id="nbClientsRecap">
                            <i class="fas fa-users hidden"></i>
                        </a>

                    </div>

                </section>

            </div>
        </div>

    </div>

</div>

<div class="hidden" id="BDDRECAP">
    {% for creneau in creneaux %}

        <a href="#" class="midi-{{ creneau.midi }} soir-{{ creneau.soir }}" id="{{ creneau.datecreneau }}"></a>

    {% endfor %}
</div></main>{% endblock %}{% block scriptThisPage %}<script src="{{ asset('asset/js/reservations.js') }}"></script>{% endblock %}
