{% extends 'base-admin.html.twig' %}

{% block title %}Gestions des images{% endblock %}
{% block h2 %}Gestion des images{% endblock %}
{% block link %}"{{ path('galerie') }}"{% endblock %}
{% block h3 %}galerie{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>

                <th>Image</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for upload in uploads %}
            <tr>

                <td>{{ upload.image }}</td>
                <td>{{ upload.titre }}</td>
                <td>
                    <a href="{{ path('upload_show', {'id': upload.id}) }}">show</a>
                    <a href="{{ path('upload_edit', {'id': upload.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('upload_new') }}">Create new</a>
{% endblock %}
