{% extends 'base-admin.html.twig' %}

{% block title %}Upload index{% endblock %}

{% block body %}
    <h1>Upload index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for upload in uploads %}
            <tr>
                <td>{{ upload.id }}</td>
                <td>{{ upload.image }}</td>
                <td>{{ upload.titre }}</td>
                <td>{{ upload.description }}</td>
                <td>
                    <a href="{{ path('upload_show', {'id': upload.id}) }}">show</a>
                    <a href="{{ path('upload_edit', {'id': upload.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('upload_new') }}">Create new</a>
{% endblock %}
