{% extends 'base-admin.html.twig' %}
{# {% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/css/templatesAdmin-small.css') }}" type="text/css"> #}
{# {% endblock %} #}

{% block title %}Gestion de la carte{% endblock %}
{% block h2 %}Gestion de la carte{% endblock %}
{% block linkPerso %} "{{ path('carte') }}" {% endblock %}
{% block h3 %}Carte{% endblock %}

{% block body %}

   <div class="showCont">
    <table class="CarteTab">
  <thead>
    <tr>
 
                <th scope="col">NOM</th>
                <th scope="col">PRIX</th>
                <th scope="col">CATÉGORIE</th>
                <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
{% for menu in menus %}
            <tr>

                <td>{{ menu.titre }}</td>
                <td>{{ menu.prix }}</td>
                <td>{{ menu.categorie }}</td>
                <td class="tdAction">
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}"><i class="far fa-edit"></i>Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun plat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
</table>

 <a href="{{ path('menu_new') }}"><i class="fas fa-plus-circle"></i>Ajouter un plat</a>
</div>
   
{% endblock %}
