{% extends 'base-admin.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/css/templatesAdmin-large.css') }}" type="text/css">
{% endblock %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h4>LES PLATS A LA CARTE</h4>

   <div class="carteCont">
    <table class="CarteTab">
  <thead>
    <tr>
 
                <th scope="col">NOM</th>
                <th scope="col">PRIX</th>
                <th scope="col">CATÉGORIE</th>
                <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
{% for menu in menus %}
            <tr>

                <td>{{ menu.titre }}</td>
                <td>{{ menu.prix }}</td>
                <td>{{ menu.categorie }}</td>
                <td class="tdAction">
                    <a href="{{ path('menu_show', {'id': menu.id}) }}"><span>show</span></a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}"><i class="far fa-edit"><span>Modifier</span></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun plat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>










    {# <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.image }}</td>
                <td>{{ menu.titre }}</td>
                <td>{{ menu.prix }}</td>
                <td>{{ menu.description }}</td>
                <td>categorie</td>
                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <a href="{{ path('menu_new') }}">Create new</a>
{% endblock %}
