{% extends 'base-admin.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/css/menunew.css') }}" type="text/css">{% endblock %}
{% block title %}New Menu{% endblock %}

{% block body %}

    <h1>Ajouter un plat</h1>
    
{# 
{{ form_start(form, {'attr': {'id': 'resaForm'}}) }}

                   <div class="inputContainer">
                    <div class="backInput">               
        {{ form_widget(form.imageUpload, {'attr': {'class': 'form-resa', 'placeholder': 'Nom *'}}) }}
                                 </div>
                    </div>

                                 <div class="inputContainer">
                    <div class="backInput">
        {{ form_widget(form.titre, {'attr': {'class': 'form-resa', 'placeholder': 'Prenom *'}}) }}
</div>
                    </div>

<div class="inputContainer">
                    <div class="backInput">
        {{ form_widget(form.prix, {'attr': {'class': 'form-resa', 'placeholder': 'Email'}}) }}
</div>
                    </div>
                    
                         <div class="inputContainer">
                    <div class="backInput">
        {{ form_widget(form.description, {'attr': {'class': 'form-resa', 'placeholder': 'N° de téléphone *'}}) }}
                       </div>
                    </div>
                    
                        <div class="inputContainer">
                    <div class="backInput">
    {{ form_widget(form.categorie, {'attr': {'class': 'form-resa', 'placeholder': 'Message'}}) }}
</div>
                    </div>
                    
<div class="inputContainer">
                    <div class="backInput">
    {{ form_widget(form.menuspecial, {'attr': {'class': 'form-resa', 'placeholder': 'Message'}}) }}
</div>
                    </div>
                    

{{ form_end(form) }} #}


    {{ include('menu/_form.html.twig') }}

    <a href="{{ path('menu_index') }}">back to list</a>
{% endblock %}
