{{ form_start(form, {'attr': {'id': 'resaForm'}}) }}

<div class="inputContainer">
    <div class="backInput">
        <label for"name">Photo</label>
        {{ form_widget(form.imageUpload, {'attr': {'class': 'form-resa'}}) }}
    </div>
</div>

<div class="inputContainer">
    <div class="backInput">
        <label for"name">Titre</label>
        {{ form_widget(form.titre, {'attr': {'class': 'form-resa'}}) }}
    </div>
</div>

<div class="inputContainer">
    <div class="backInput">
        <label for"name">Prix</label>
        {{ form_widget(form.prix, {'attr': {'class': 'form-resa'}}) }}
    </div>
</div>

<div class="inputContainer">
    <div class="backInput">
        <label for"name">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-resa'}}) }}
    </div>
</div>

<div class="inputContainer">
    <div class="backInput">
        <label for"name">Catégorie</label>
        {{ form_widget(form.couleur, {'attr': {'class': 'form-resa'}}) }}
    </div>
</div>


<button class="btn">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
