{% extends 'base-admin.html.twig' %}

{% block title %}Gestion de la Cave
{% endblock %}
{% block h2 %}Gestion de la Cave
{% endblock %}
{% block linkPerso %} "{{ path('cave') }}" {% endblock %}
{% block h3 %}Cave
{% endblock %}

{% block body %}

    <div class="showCont">
        <table class="table">
            <thead>
                <tr>

                    <th>Titre</th>
                    <th>Prix</th>

                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for cave_vin in cave_vins %}
                    <tr>
                        <td>{{ cave_vin.titre }}</td>
                        <td>{{ cave_vin.prix }}</td>
                        <td>
                            <a href="{{ path('cave_vin_edit', {'id': cave_vin.id}) }}">
                                <i class="far fa-edit hoverNot"></i>Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun vin trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('cave_vin_new') }}">
            <i class="fas fa-plus-circle"></i>Ajouter un vin</a>

    </div>
{% endblock %}
