{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}

<div class="headerCave carousel-inner">
	<img class="d-block w-100 " src="asset/img/carte.jpg" alt="Cave a Vin">
	<div class="overlay"></div>
	<div class="titrePage">
		<div class="d-flex h-100 text-center align-items-center">
			<div class="w-100 text-white">
				<h1 class="display-3 title_header">Notre Carte</h1>
			</div>
		</div>
	</div>
</div>
</header>
<main>
<div class="colorlib-menu">
	<div class="container">

		<nav class="navCarte">		
		 <ul class="nav nav-tabs text-center" role="tablist">
			<li class="active liMenu" id="defaultLink"><a href="#" class="linkMenu" id="entree" role="tab" data-toggle="tab">Entrée</a></li>
			<li class="liMenu" ><a href="#" class="linkMenu" id="plat" role="tab" data-toggle="tab">Plat</a></li>
			<li class="liMenu" ><a href="#" class="linkMenu" id="dessert" role="tab" data-toggle="tab">Dessert</a></li>
		</ul>
		</nav>
							 
		<div class="contrainer ">				
		{% for menu in menus %}	
			<div class="{{menu.categorie  }} hidden container">					
				<figure class="dish-entry">
					<a href="{{ menu.image }}"  data-fancybox>
					<img class="image-menu" src="{{asset(menu.image) }}" alt="{{ menu.titre }}">
					</a>
				</figure>
				<div class="text">
				<h3>{{ menu.titre }}</h3>
				<p class="cat text">{{ menu.description }}</p>
				<span class="price text">{{ menu.prix }}€</span>
				</div>
			</div>
							             
		{% endfor %}
		</div>	
	</div>
</div>		

{% endblock %}

{% block scriptThisPage %}<script src="{{ asset('asset/js/driss.js') }}"></script>{% endblock %}