{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}

<div class="headerCave carousel-inner">
	<img class="d-block w-100 " src="asset/img/carte.jpg" alt="Cave a Vin">
	<div class="overlay"></div>
	<div class="titrePage">
		<div class="d-flex h-100 text-center align-items-center">
			<div class="w-100 text-white">
				<h1 class="display-3 title_header">Notre Carte</h1>
			</div>
		</div>
	</div>
</div>
</header>
<main>
<div class="colorlib-menu">
		<div class="container">
				<div class="colorlib-menu-2">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center ">
							<span class="icon"></span>
							<h2>Menu</h2>
							<p>description du menu</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box">
							<div class="row">
								<div class="col-md-12 text-center">
									<ul class="nav nav-tabs text-center" role="tablist">
										<li role="presentation" class="active"><a href="#entrée" aria-controls="entrée" role="tab" data-toggle="tab">Entrée</a></li>
										<li role="presentation"><a href="#plat" aria-controls="plat" role="tab" data-toggle="tab">Plat</a></li>
										<li role="presentation"><a href="#dessert" aria-controls="dessert" role="tab" data-toggle="tab">Dessert</a></li>
									</ul>
								</div>
							</div>
							
							{% for menu in menus %}
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="{{menu.categorie}}">
									<div class="row">
										<div class="col-md-6">
											<ul class="menu-dish">
							              <li>
							                <figure class="dish-entry">
							                	<img class="dish-img" src="{{asset(menu.image) }}" alt="{{ menu.titre }}">
							                </figure>
							                <div class="text">
							                  <span class="price">{{ menu.prix }}€</span>
							                  <h3>{{ menu.titre }}</h3>
							                  <p class="cat">{{ menu.description }}</p>
							                </div>
							              </li>
										</div>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane" id="plat">
									<div class="row">
										<div class="col-md-6">
											<ul class="menu-dish">
							              <li>
							                <figure class="dish-entry">
							                	<div class="dish-img" style="background-image: url(images/dessert-1.jpg);"></div>
							                </figure>
							                <div class="text">
							                  <span class="price">$25.99</span>
							                  <h3>Special Cake</h3>
							                  <p class="cat">Meat / Potatoes / Rice / Tomatoe</p>
							                </div>
							              </li>
										</div>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane" id="dessert">
									<div class="row">
										<div class="col-md-6">
											<ul class="menu-dish">
							              <li>
							                <figure class="dish-entry">
							                	<div class="dish-img" style="background-image: url(images/drink-1.jpg);"></div>
							                </figure>
							                <div class="text">
							                  <span class="price">$25.99</span>
							                  <h3>Cold Lemonade Juice</h3>
							                  <p class="cat">Meat / Potatoes / Rice / Tomatoe</p>
							                </div>
							              </li>
										</div>
									</div>
								</div>		
							</div>
						</div>
					</div>
				</div>
		</div>
</div>
{# {<div class="container-fluid">
	<div class="row" style="width: 50%">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 text-center"><img src="{{asset(menu.image) }}" alt="{{ menu.titre }}" />
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 text-center">{{ menu.titre }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">{{ menu.description }}
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center">{{ menu.prix }}
				</div>
			</div>
		</div>#}
		{% endfor %} 
{% endblock %}