{% extends 'base.html.twig' %}

{% block title %}Notre Cave
{% endblock %}

{% block body %}

    <div  class="headerCave carousel-inner">
        <img alt="Cave a Vin" class="d-block w-100" src="asset/img/cave.jpg">
        <div class="overlay"></div>
        <div id="title_header" class="titrePage">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3 title_header">Notre Cave</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
<div id="ct">
  <div class="corner "id="left_top"></div>
  <div class="corner" id="left_bottom"></div>
  <div class="corner" id="right_top"></div>
  <div class="corner" id="right_bottom"></div>
  <span class="formuleMenu">Découvrez notre cave.</span>
  <blockquote>
    <p class="formule">
Le vin, c'est la terre. Celle-ci est légèrement graveleuse, c'est un médoc ! Le vin, c'est aussi le soleil. Ce vin a profité d'une belle exposition sud-ouest, sur un coteau de bonne pente. C'est un Saint-Julien, Château Léoville Las Cases 1953 !</p>
  </blockquote>
</div>
<div class="colorlib-menu">
	<div class="container containerCarte">

		<nav class="navCarte">		
		 <ul class="nav nav-tabs text-center" role="tablist">
			<li class="active liMenu" id="defaultLink"><a href="#" class="linkMenu" id="rouge" role="tab" data-toggle="tab">Rouge</a></li>
			<li class="liMenu" ><a href="#" class="linkMenu" id="blanc" role="tab" data-toggle="tab">Blanc</a></li>
			<li class="liMenu" ><a href="#" class="linkMenu" id="rose" role="tab" data-toggle="tab">Rosé</a></li>
		</ul>
		</nav>
							 
		<div class="container containerMenu ">				
		{% for cave_vin in bouteilles %}	
			<div class="{{cave_vin.couleur }} hidden ">					
				<figure class="dish-entry">
					<a href="{{ cave_vin.image }}"  data-fancybox>
					{# <img class="image-menu" src="{{asset(cave_vin.image) }}" alt="{{ cave_vin.titre }}"> #}
					<div class="image-cave" style="background-image:url({{asset(cave_vin.image)}})"></div>
					</a>
				</figure>
				<div class="textMenu">
				<h3>{{ cave_vin.titre }}</h3>
				<p class="cat text">{{ cave_vin.description }}</p>
				<span class="price text">{{ cave_vin.prix }}€</span>
				</div>
			</div>
							             
		{% endfor %}
		</div>	
	</div>
</div>	
{% endblock %}
{% block scriptThisPage %}<script src="{{ asset('asset/js/driss.js') }}"></script>{% endblock %}
