
{% extends 'base.html.twig' %}

{% block title %}Hello GalerieController!{% endblock %}

{% block body %}
<div  class="headerCave carousel-inner">
<img class="d-block w-100" src="asset/img/galerie.jpg">
<div class="overlay"></div>
<div id="title_header" class="titrePage">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3 title_header">Galerie</h1>
      </div>
    </div>
  </div>
</div>
</div>
</header>
<main>

<div id="ct">
  <div class="corner "id="left_top"></div>
  <div class="corner" id="left_bottom"></div>
  <div class="corner" id="right_top"></div>
  <div class="corner" id="right_bottom"></div>
  <span class="formuleMenu">Découvrez notre galerie</span>
  <blockquote>
    <p class="formule">
Retrouvez ici les photos de nos plats régulièrement mise à jour. </p>
  </blockquote>
</div>
    
<!-- Portfolio section start -->
<div class="container-fluid row">
		<div class="portfolio-warp">
			<!-- single item -->
			            {% for upload in uploads %}
			<div class="mix single-portfolio set-bg photo" data-setbg="{{ upload.image }}">
                <img src="{{ upload.image }}" alt="img-1">
				<a href="{{ upload.image }}" class="portfolio-info" data-fancybox>
					<div class="pfbg set-bg" data-setbg="{{ upload.image }}">
					<img src="{{ upload.image }}" alt="img-1"></div>
					
					<h5>{{ upload.titre }}</h5>
					<p>{{ upload.description }}</p>
				</a>
			</div>
            {% endfor %}
			
		</div>
		</div>
	</section>
    </main>
	<!-- Portfolio section end -->
{% endblock %}

{% block scriptThisPage %}
<script src="{{ asset('asset/js/driss.js') }}"></script>{% endblock %}
	
