{% extends 'base-admin.html.twig' %}

{% block title %}ContactClient index
{% endblock %}
{% block h2 %}Gestion des messages
{% endblock %}
{% block body %}
    <h4>VOS MESSAGES</h4>

    <div class="showCont">
        <table class="CarteTab">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Message</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contact_client in contact_clients %}
                    <tr>
                        <td>{{ contact_client.id }}</td>
                        <td>{{ contact_client.nom }}</td>
                        <td>{{ contact_client.prenom }}</td>
                        <td>{{ contact_client.email }}</td>
                        <td>{{ contact_client.tel }}</td>
                        <td>{{ contact_client.message }}</td>
                        <td>
                            {{ include('contact_client/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun message</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
