{% extends 'base-admin.html.twig' %}

{% block title %}Resa index{% endblock %}
{% block h2 %} Gestion des réservations {% endblock %}
{% block body %}
    

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Nbclient</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resa in resas %}
            <tr>
                <td>{{ resa.date }}</td>
                <td>{{ resa.heure }}</td>
                <td>{{ resa.nbclient }}</td>
                <td>{{ resa.nom }}</td>
                <td>
                    <a href="{{ path('resa_show', {'id': resa.id}) }}">show</a>
                    <a href="{{ path('resa_edit', {'id': resa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resa_new') }}">Create new</a>
{% endblock %}
